extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/buses') Buses
  input(type="submit", value="ABC buses", id='kill',class="btn btn-success pull-right", onclick="buses()")
  script(type='text/javascript').
   function buses(){
    alert("holis");
   }   
